// color
$color-white: #ffffff;
$color-springwood: #f3eee8;
$color-tomthumb: #344c36;
$color-asparagus: #898e4f;
$color-alto: #d9d9d9;
$color-roman: #de6360;
$color-terracotta: #dc6f52;
$color-diserria: #dc9452;
$color-yelloworange: #feb740;
$color-christine: #e76f0f;
$color-viridiangreen: #6b8a7a;
$color-corduroy: #66756a;
$color-black: #000000;
$color-dovegray: #666666;
$color-boulder: #757575;
$color-mischka: #d4d9df;
$color-royalblue: #5272dc;

// font family
$font-inrea: "Inria Serif", serif;
$font-lato: "Lato", sans-serif;
$font-inika: "Inika", serif;

// screen size
$screen-size-large: 992px;
$screen-size-small: 768px;
